body{
 background-image: url('./index_bckgnd.jpeg');
 background-size: 100%;
 background-repeat: repeat-y;

 
}



p{  
    float: right;
    margin: 30px;
    padding: 40px;
    border: 10px solid rgb(160, 169, 137);
    background-color: rgb(230, 201, 115);
    border-radius: 28px;
    color: darkblue;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    max-width: 400px;
}
figcaption{
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(160, 169, 137);
    border-radius: 28px;
    font-family: 'sofia', sans-serif;
    font-style: italic ;
    max-width: fit-content;
    background-color: rgb(230, 201, 115);
    font-size: 18px;
}
tr{
    margin: 10px;
    padding: 5px;
    border: 5px solid, rgb(160, 169, 137);
}

.proj_heading{
    margin: 30px;
    margin-top: 200px;
    padding: 40px;
    border: 10px solid rgb(160, 169, 137);
    background-color: rgb(230, 201, 115);
    max-width: fit-content;
    border-radius: 28px;
    color: brown;
    font-weight: bold;
    font-size: 38px;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: fit-content;

}

.space_large{
    margin: 300px;
}
.space_med{
    margin: 150px;
}
.brief_intro          {

   
    margin: 30px;
    padding: 40px;
    border: 10px solid rgb(160, 169, 137);
    background-color: rgb(230, 201, 115);
    border-radius: 28px;
    color: black;
    font-size: 22px;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    max-width: fit-content;
}

.table_title    {

    text-align: center;
    font-size: 33px;
    border: 10px solid rgb(160, 169, 137);
    border-radius: 18px;
    column-span: all;
    font-family: 'sofia', sans-serif;
}
.title_hmepge    {

    margin: 15px;
    padding: 10px;
    border-radius: 28px;
    background-color: rgb(230, 201, 115);
    color: brown;
    border: 10px solid rgb(160, 169, 137);
    font-family: "sofia", sans-serif;
    text-align: center;
    font-size: 33px;
    width: 33%;
    position: fixed;
    left: 50%;
    top: 0px;
    max-width: fit-content;
  
  
}

.title_hmepge_lft   {

    margin: 15px;
    padding: 10px;
    border-radius: 28px;
    background-color: rgb(230, 201, 115);
    color: brown;
    border: 10px solid rgb(160, 169, 137);
    font-family: "sofia", sans-serif;
    text-align: center;
    font-size: 33px;
    width: 33%;
    position: fixed;
    top: 0px;
    left: 25%;
    max-width: fit-content;
}

.proj_menu  {
   
    margin: 30px;
    padding: 40px;
    border-radius: 28px;
    border: 8px solid rgb(160, 169, 137);
    background-color: rgb(230, 201, 115);
    text-align: center;
    font-weight: bold;
    font-stretch: expanded;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
  
}

.dev_stage_menu {
    margin: 30px;
    padding: 40px;
    border-radius: 28px;
    border: 8px solid rgb(160, 169, 137);
    background-color: rgb(230, 201, 115);
    text-align: center;
    font-weight: bold;
    font-stretch: expanded;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}


.proj_SS    {
    float: right;
    margin: 15px;
    padding: 10px;
    border: 10px solid rgb(160, 169, 137);
    background-color: rgb(230, 201, 115);
    border-radius: 28px;
    color: darkblue;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    max-width: 400px;

}